{% load i18n %}

{% blocktrans %}Привет{% endblocktrans %}
{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
Вы получили это письмо, потому что вы (или кто-то выдавал себя за вас) запросили
сброс пароля на сайте {{domain}}. Если вы не хотите сбрасывать пароль,
не обращайте внимания на это сообщение. Чтобы сбросить пароль, щелкните
следующую ссылку или скопируйте и вставьте ее в свой веб-браузер:
{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}"

{% blocktrans %}Ваше имя пользоватемя, если Вы забыли:{% endblocktrans %} {{ user.get_username }}


{% blocktrans %}С наилудшими пожеланиями,{% endblocktrans %},
{% blocktrans %}Служба поддержки{% endblocktrans %} {{ site_name }}


{# This is used by django.contrib.auth #}